body {
    margin: 0;
    font-family: Arial;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: black;
    color: white;
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 80vh;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: white;
    color: black;
    margin-top: 15px;
    cursor: pointer;
}

/* SECTION */
.section {
    padding: 50px;
    text-align: center;
}

/* SERVICES */
.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-10px);
}
button {
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}
.box {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}